
.animate {

  background: linear-gradient(45deg,rgba(43,108,176,1), rgba(66,153,225,1) , #FFFF);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
}

@keyframes colors {

  8% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.climate {
  font-size: 50px;
  z-index: 30;
  color: white;
}

.region {
  font-size: 40px;
  z-index: 30;
  color: white;
}

.currentTemperature {
  font-size: 120px;
  z-index: 30;
  color: white;
}

.descriptionClimate {
  font-size: 40px;
  z-index: 30;
  color: white;
}

.details {

  font-size: 40px;
  z-index: 30;
  color: white;
  width: 60%;
}
#image {
  width: 5%;
}