
.animate {

  background: linear-gradient(45deg,rgba(43,108,176,1), rgba(66,153,225,1) , #FFFF);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
}

.mainTitle{
  color: antiquewhite;
}

.region {
  color: antiquewhite;
  padding-top: 10px;
}

.description {
  white-space: nowrap;
  color: antiquewhite;
}

.temperature {
  padding-left: 10%;
  width: 100%;
  color: antiquewhite;
}
.humidityImage {
  width: 30%;
}

.windImage {
  width: 30%;
}

#details {
  font-size: 120%;
  color: antiquewhite
}

@keyframes colors {

  8% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

